@using proje.Models.Entities
<h3>Onaylanan Öğrenciler</h3>
<ul class="list-group mb-4">
    @foreach (var student in (List<Student>)ViewBag.ApprovedStudents)

    {
        <li class="list-group-item">
            @student.First_Name
        </li>
    }
</ul>

<h3>Onay Bekleyen Öğrenciler</h3>
<ul class="list-group">
    @foreach (var student in (List<Student>)ViewBag.PendingStudents)

    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>@student.First_Name</span>
            <form asp-action="ApproveCourse" method="post">
                <input type="hidden" name="studentId" value="@student.Student_ID" />
                <input type="hidden" name="courseId" value="@ViewBag.CourseId" />
                <button type="submit" class="btn btn-sm btn-success">Approve</button>
            </form>
        </li>
    }
</ul>

<!-- Geri Dön Butonu -->
<div class="mt-4">
    <a href="javascript:history.back()" class="btn btn-secondary">
        Geri
    </a>
</div>